<!DOCTYPE html>
<html lang="en">
  <head>
		<link rel="shortcut icon" href="../images/templotitlelogo.ico" />
    <title>TEMPLO - Changing the world one question at a time</title>
	  <!-- Google analytics -->
	  <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118150283-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-118150283-1');
		</script>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="gdyahO8Z7jNiORdrQtLq7cxstaMBu4LGmaFjKspsDdY" />
  <meta name="description" content="TEMPLO is a tech startup on a mission to fight depression and anxiety. We need your help by answering and asking questions so that we can reach millions dealing with a terrible condition that is mental health.">
  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Public CSS -->
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">		
  </head>
  <body>	
		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>		
	<style>
		#temploLogo{
			font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
		}
		#betaLogo{
			font-family: 'Times New Roman', Times, serif
		}
		a{
			cursor: pointer;
			text-decoration: none;
		}
		button{
			text-decoration: none;
    }
	</style>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">		
		<a class="navbar-brand text-danger" href="/" id="temploLogo">TEMPLO <span id="betaLogo">beta</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<% if (currentUser && currentUser.isAdmin){ %>
					<a href="/admin/questions"><button class="btn btn-warning">Admin</button></a>
				<%}%>	
			<form class="form-inline my-2 my-lg-0" action="/questionsearch" method="POST">
				<input name="searchInput" id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search Templo" aria-label="Search" maxlength="100">
				<button id="searchButton" class="btn btn-sm btn-outline-danger my-2 my-sm-0" type="submit" disabled>Search</button>
			</form>
		</div>
	</nav> 
    <div class=" jumbotron jumbotron-signed-in text-center text-white bg-danger p-2" >
	  <p class="font-weight-bold mt-4" style="font-size: 20px;">Ask. Get Answers. Simple.</p>
    <form action="/newquestion" method="POST" class="form-inline justify-content-center mb-4">
      <div class="form-group mb-0">
        <input type="text" name="question" class="form-control" id="inputPassword2" placeholder="Ask a question...." size="28">
      </div>
      <button type="submit" class="btn btn-light">Ask</button>
    </form>
	</div>
	<style>
		@media only screen and (min-width: 375px){
			.quotesDiv{
				height: 160px;
			}
		} 
		@media only screen and (min-width: 768px){
			.quotesDiv{
				height: 100px;
			}
		}
    @media only screen and (max-width: 760px){
    .quotesDiv{
      height: 250px;;
    }
  }
    @media only screen and (min-width: 761px){
    .quotesDiv{
      height: 100px;;
    }
  }
  </style>
	<script>
		$(document).ready(function() {
			$("#searchInput").on("keyup", function(){
				if ($("#searchInput").val().length > 3){
					$("#searchButton").removeAttr("disabled");
				}else{
					$("#searchButton").attr("disabled", true);
				}				
			})

			$("#newQuestionInput").on("keyup", function(){
				if ($("#newQuestionInput").val().length > 20){
					$("#newQuestionButton").removeAttr("disabled");
				}else{
					$("#newQuestionButton").attr("disabled", true);
				}				
			})

			$("#newQuestionInput").on("keyup", function(){
				$("#newquestionCharacters").text($("#newQuestionInput").val().length)

				if ($(this).val().length < 21){
					$("#newquestionCharacters").css("color", "red")
				}else{
					$("#newquestionCharacters").css("color", "green")
				}
						
				
			})
		});
  </script> 
  <div class="container">
      <%if (message && message.length > 0){%>
        <div class="alert alert-info">
          <%=message%>
        </div>
      <%}%>  
      <div class="alert alert-danger" role="alert">
        TEMPLO is a tech start up on a mission to fight depression and anxiety by creating a platform where anybody can openly talk about any pain they are facing and trying to overcome this condition. We need everyone's help to contribute by asking and answering questions so that we can grow and reach the world. Our success in reaching millions of people relies on community efforts. No signup required so you can ask and answer without entering any personal data. Let's all fight worldwide pain together one question at a time. 
      </div>
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-3 mb-4">      
      <div class="card mb-2">
        <div class="card-header bg-danger text-white">
          Categories
        </div>
      <div class="card-body" style="font-size: 13px;">
        <a class="text-dark" style="font-size: 13px;" href="/categories/depressionandanxiety">Depression and Anxiety</a>
          <br>
        <a class="text-dark" style="font-size: 13px;" href="/categories/kneepain">Knee Pain</a>
          <br>
        <a class="text-dark" style="font-size: 13px;" href="/categories/shoulderpain">Shoulder Pain</a>
          <br>
        <a class="text-dark" style="font-size: 13px;" href="/categories/backpain">Back Pain</a>
          <br>
        <a class="text-dark" style="font-size: 13px;" href="/categories/chestpain">Chest Pain</a>
          <br>
        <a class="text-dark" style="font-size: 13px;" href="/categories/stomachpain">Stomach Pain</a>             
        </div>
      </div>
    </div>    
    <div class="col-sm-12 col-md-6 col-lg-6">  
      <% for (i = 0; i < 20; i++) { %>       
        <div class="card mb-2">
          <div class="card-header bg-danger text-white">
            <a href="/question/<%=questions[i].id%>" class="text-white"> <%= questions[i].question.charAt(0).toUpperCase() + questions[i].question.slice(1) %></a>
          </div>
          <div class="card-body pb-0" style="font-size: 13px;">
            <p><%=questions[i].answers.length%> answers&nbsp; 
              <span><%=questions[i].views%> views &nbsp;
                <i class="far fa-thumbs-up"></i>&nbsp;
                <%= questions[i].helpful %>&nbsp;&nbsp;
                <i class="far fa-thumbs-down"></i>&nbsp;
                <%= questions[i].notHelpful %>
              </span>
            </p>                
          </div>
        </div>
              <% } %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3"> 
      <div class="card">
        <div class="card-header bg-danger text-white">
          Most Answered Questions
        </div>
        <% var sortedAnsweredArray = questions.sort(function(a, b){ %>
        <% return b.answers.length-a.answers.length; %>
        <% }) %>
        <div class="card-body">
          <% for (i = 0; i < 5; i++){ %>
            <a href="/question/<%= sortedAnsweredArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedAnsweredArray[i].question.charAt(0).toUpperCase() + sortedAnsweredArray[i].question.slice(1)%></p></a>
          <br>
            <% } %>
        </div>
      </div>    
      <br>     
      <div class="card">
        <div class="card-header bg-danger text-white">
          Top Viewed Questions
        </div>
        <% var sortedViewsArray = questions.sort(function(a, b){ %>
        <% return b.views-a.views; %>
        <% }) %>
        <div class="card-body">
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedViewsArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedViewsArray[i].question.charAt(0).toUpperCase() + sortedViewsArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>
        </div>
      </div>    
      <br>    
      <div class="card">
        <div class="card-header bg-danger text-white">
          Most Helpful
        </div>
        <% var sortedHelpfulArray = questions.sort(function(a, b){ %>
        <% return b.helpful-a.helpful; %>
        <% }) %>
        <div class="card-body">
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedHelpfulArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedHelpfulArray[i].question.charAt(0).toUpperCase() + sortedHelpfulArray[i].question.slice(1)%></p></a>
              <br>
              <% } %>
        </div>
      </div>
      <br>      
      <div class="card">
        <div class="card-header bg-danger text-white">
          Least Helpful
        </div>
        <% var sortedNotHelpfulArray = questions.sort(function(a, b){ %>
        <% return b.notHelpful-a.notHelpful; %>
        <% }) %>
        <div class="card-body">
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedNotHelpfulArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedNotHelpfulArray[i].question.charAt(0).toUpperCase() + sortedNotHelpfulArray[i].question.slice(1)%></p></a>
              <br>
              <% } %>
        </div>
      </div>     
      <br>     
      </div>
    </div>
  </div>
<% include footer.ejs %>