<% include header.ejs %>



<!-- Creating array from search-->
<% var searchSplitArray = search.split(' ') %>
<% var duplicateSearchArray = [] %>
<% var searchArray = [] %>

<% for (i = 0; i < questions.length; i++){ %>
  <% searchSplitArray.forEach(function(word){ %>
    <% if (questions[i].question.toLowerCase().includes(word.toLowerCase())){ %>
      <% duplicateSearchArray.unshift(questions[i]); %>  
    <% }; %>    
  <% }); %>
<% }; %>

<!-- Removing duplicate search results -->
<% for (i = 0; i < duplicateSearchArray.length; i++){ %>
      <% if (searchArray.indexOf(duplicateSearchArray[i]) == -1){ %>
           <% searchArray.unshift(duplicateSearchArray[i]) %>
      <% } %>
<% } %>


<div class="container">

<%if (searchArray.length === 0){%>
    <div class="row">
      <div class="col-md-12">
        <div class="list-group-item">
          <h1 class="text-center">Search found 0 results</h1>
        </div>
      </div>
    </div>
    <br>

        <div class="row">
          <div class="col-12">
            <p class="text-center">These questions are looking for answers. </p>
          </div>
          <% var unansweredQuestions = [] %>
          <% questions.forEach(function(question){ %>
                <% if (question.answers.length == 0){ %>
                      <% unansweredQuestions.unshift(question) %>
                <% } %>
          <% }) %>
        <% for (i = 0; i < 12; i++) { %>  
          <div class="col-sm-12 col-md-4">     
          <div class="card mb-2">
            <div class="card-header">
               <a href="/question/<%=questions[i].id%>" class="text-dark"> <%= unansweredQuestions[i].question.charAt(0).toUpperCase() + unansweredQuestions[i].question.slice(1) %></a>
            </div>
            <div class="card-body pb-0" style="font-size: 13px;">
             <p><%=unansweredQuestions[i].answers.length%> answers&nbsp; <span><%=unansweredQuestions[i].views%> views &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= unansweredQuestions[i].helpful %>&nbsp;&nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= unansweredQuestions[i].notHelpful %></span></p> 
            </div>
          </div>
          </div>
        <% } %>
        </div>
    
<% }else{ %>
  <div class="row">
    <div class="col-12">
        <p>Results for <span class="font-weight-bold"><%=search%></span></p>
        <hr>
    </div>
  </div>
  <div class="row">  
    <div class="col-sm-12 col-md-7 col-lg-9">          
          <% var sortedQuestionsArray = searchArray.sort(function(a, b){ %>
          <% return b.views-a.views; %>
          <% }) %>
          <% if (searchArray.length > 20){ %>
            <% for (var i = 0; i < 20; i++){ %>
                <div class="card mb-2">
                  <div class="card-header">
                    <a href="/question/<%=sortedQuestionsArray[i].id%>" class="text-dark"> <%= sortedQuestionsArray[i].question.charAt(0).toUpperCase() + sortedQuestionsArray[i].question.slice(1) %></a>
                  </div>
                  <div class="card-body pb-0" style="font-size: 13px;">
                  <p><%=sortedQuestionsArray[i].answers.length%> answers&nbsp; <span><%=sortedQuestionsArray[i].views%> views &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= sortedQuestionsArray[i].helpful %>&nbsp;&nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= sortedQuestionsArray[i].notHelpful %></span></p> 
                  </div>
                </div>
            <% } %>
          <% }else{ %>
            <% for (var i = 0; i < sortedQuestionsArray.length; i++){ %>
              <div class="card mb-2">
                <div class="card-header">
                   <a href="/question/<%=sortedQuestionsArray[i].id%>" class="text-dark"> <%= sortedQuestionsArray[i].question.charAt(0).toUpperCase() + sortedQuestionsArray[i].question.slice(1) %></a>
                </div>
                <div class="card-body pb-0" style="font-size: 13px;">
                 <p><%=sortedQuestionsArray[i].answers.length%> answers&nbsp; <span><%=sortedQuestionsArray[i].views%> views &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= sortedQuestionsArray[i].helpful %>&nbsp;&nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= sortedQuestionsArray[i].notHelpful %></span></p> 
                </div>
              </div>
            <% } %>
          <% } %>
    </div>
    

    <div class="col-sm-12 col-md-5 col-lg-3"> 
        <div class="list-group-item">
          <h6 style="font-size: 13px;">Most Answered Questions</h6>
          <hr>
          <% var sortedAnsweredArray = searchArray.sort(function(a, b){ %>
          <% return b.answers.length-a.answers.length; %>
          <% }) %>
          <% if (searchArray.length < 6){ %>
            <% for (i = 0; i < searchArray.length; i++){ %>
              <a href="/question/<%= sortedAnsweredArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedAnsweredArray[i].question.charAt(0).toUpperCase() + sortedAnsweredArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>
          <% }else{ %>
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedAnsweredArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedAnsweredArray[i].question.charAt(0).toUpperCase() + sortedAnsweredArray[i].question.slice(1)%></p></a>
              <br>
              <% } %>
          <% } %>
        </div>
        
        <br>
        
        <div class="list-group-item">
          <h6 style="font-size: 13px;">Top Viewed Questions</h6>
          <hr>
          <% var sortedViewsArray = searchArray.sort(function(a, b){ %>
          <% return b.views-a.views; %>
          <% }) %>
          <% if (searchArray.length < 6){ %>
            <% for (i = 0; i < searchArray.length; i++){ %>
              <a href="/question/<%= sortedViewsArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedViewsArray[i].question.charAt(0).toUpperCase() + sortedViewsArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>             
          <% }else{ %>
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedViewsArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedViewsArray[i].question.charAt(0).toUpperCase() + sortedViewsArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>
          <% } %>

        </div>
        
        <br>
        
        
        <div class="list-group-item">
          <h6 style="font-size: 13px;">Most Helpful</h6>
          <hr>
          <% var sortedHelpfulArray = searchArray.sort(function(a, b){ %>
          <% return b.helpful-a.helpful; %>
          <% }) %>
          <% if (searchArray.length < 6){ %>
            <% for (i = 0; i < searchArray.length; i++){ %>
              <a href="/question/<%= sortedHelpfulArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedHelpfulArray[i].question.charAt(0).toUpperCase() + sortedHelpfulArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>  
          <% }else{ %>
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedHelpfulArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedHelpfulArray[i].question.charAt(0).toUpperCase() + sortedHelpfulArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>
          <% } %>
  
        </div>
  
        
        
        <br>  
        
        
        <div class="list-group-item">
          <h6 style="font-size: 13px;">Least Helpful</h6>
          <hr>
          <% var sortedNotHelpfulArray = searchArray.sort(function(a, b){ %>
          <% return b.notHelpful-a.notHelpful; %>
          <% }) %>
          <% if (searchArray.length < 6){ %>
            <% for (i = 0; i < searchArray.length; i++){ %>
              <a href="/question/<%= sortedNotHelpfulArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedNotHelpfulArray[i].question.charAt(0).toUpperCase() + sortedNotHelpfulArray[i].question.slice(1)%></p></a>
              <br>
            <% } %>             
          <% }else{ %>
            <% for (i = 0; i < 5; i++){ %>
              <a href="/question/<%= sortedNotHelpfulArray[i]._id %>"><p class="text-dark mb-0" style="font-size: 13px;"><%= sortedNotHelpfulArray[i].question.charAt(0).toUpperCase() + sortedNotHelpfulArray[i].question.slice(1)%></p></a>
              <br>
              <% } %>
          <% } %>

        </div>
        
        
        <br>
        
        </div>
    

  </div>
    <%  } %>
</div>


  <script>
    $.get( "https://api.mlab.com/api/1/databases/templo/collections/motivationalquotes?apiKey=zJZdthm4HNnURfvKlosWFVCMyAkSjF88", function(quotes) {
      var initialQuote =  Math.floor((Math.random() * (quotes.length)));
      $("#quotes").html(quotes[initialQuote].quote); 
      $("#author").html(quotes[initialQuote].author);
      
         
       function newQuote(){
           i = Math.floor((Math.random() * (quotes.length)));
           $("#quotes").fadeOut(2000, function(){
             $("#quotes").fadeIn(2000)
             $("#quotes").html(quotes[i].quote);
           });
           $("#author").fadeOut(2000, function(){
             $("#author").fadeIn(2000)
             $("#author").html(quotes[i].author);
           }); 
        }

         setInterval(newQuote, 20000);
    });
  </script>

  
  


<% include footer.ejs %>