<!DOCTYPE html>
<html lang="en">
  <head>
		<link rel="shortcut icon" href="../images/templotitlelogo.ico" />
    <title><%=question.question%> - TEMPLO</title>
	  <!-- Google analytics -->
	  <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118150283-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-118150283-1');
		</script>

  	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="gdyahO8Z7jNiORdrQtLq7cxstaMBu4LGmaFjKspsDdY" />
  <meta name="description" content="<%= question.question %>. Help change the world by answering this qeustion." >

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Public CSS -->
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

		
  </head>
  <body>
		
		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		
	<style>
		#temploLogo{
			font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
		}

		#betaLogo{
			font-family: 'Times New Roman', Times, serif
		}


		a{
			cursor: pointer;
			text-decoration: none;
		}
		button{
			text-decoration: none;
		}

	</style>
	

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		
		
		<a class="navbar-brand text-danger" href="/" id="temploLogo">TEMPLO <span id="betaLogo">beta</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<% if (!currentUser){ %>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle btn btn-danger btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
						Menu
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/login">Login</a>
						<a class="dropdown-item" href="/signup">Signup</a>
					</div>
				</li>
			</ul>	

			<% }else{ %>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle btn btn-sm btn-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
						Hello <%= currentUser.username %>!
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/profile/<%= currentUser._id %>">My profile</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
				</li>
			</ul>
			<% } %>
			

			<!-- <div class="btn-group" style="margin-right: 5px;"> -->
				<% if (currentUser && currentUser.isAdmin){ %>
					<a href="/admin/questions"><button class="btn btn-warning">Admin</button></a>
				<%}%>	
				<!-- <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Ask a new question
				</button>
				<div class="dropdown-menu">
					<form class="px-4 py-3" action="/newquestion" method="POST">
							<textarea id="newQuestionInput" name="question" maxlength="200"></textarea>
							<footer id="newquestionCharacters" class="blockquote-footer text-left">0</footer>
						<div class="dropdown-divider"></div>
						<button id="newQuestionButton" type="submit" class="btn btn-primary" disabled>Submit</button>
					</form>
				</div>
			</div>
 -->


			<form class="form-inline my-2 my-lg-0" action="/questionsearch" method="POST">
				<input name="searchInput" id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search Templo" aria-label="Search" maxlength="100">
				<button id="searchButton" class="btn btn-sm btn-outline-danger my-2 my-sm-0" type="submit" disabled>Search</button>
			</form>
		</div>
	</nav> 



    <div class=" jumbotron jumbotron-signed-in text-center text-white bg-danger p-2" >
      <!-- <div class="quotesDiv " >
        <em class="lead quote-font" id="quotes"></em>
        <footer class="blockquote-footer text-white" id="author"></footer>  
	  </div> -->
	  <p class="font-weight-bold mt-4" style="font-size: 20px;">Ask. Get Answers. Simple.</p>

      <form action="/newquestion" method="POST" class="form-inline justify-content-center mb-4">
          <div class="form-group mx-sm-3 mb-0">
            <input type="text" name="question" class="form-control" id="inputPassword2" placeholder="Ask a question....">
          </div>
          <button type="submit" class="btn btn-light">Ask</button>
        </form>
	</div>

	<style>
		@media only screen and (min-width: 375px){
			.quotesDiv{
				height: 160px;
			}
		} 
		@media only screen and (min-width: 768px){
			.quotesDiv{
				height: 100px;
			}
		}

  </style>
	




	<script>
		$(document).ready(function() {

			$("#searchInput").on("keyup", function(){
				if ($("#searchInput").val().length > 3){
					$("#searchButton").removeAttr("disabled");
				}else{
					$("#searchButton").attr("disabled", true);
				}				
			})

			$("#newQuestionInput").on("keyup", function(){
				if ($("#newQuestionInput").val().length > 20){
					$("#newQuestionButton").removeAttr("disabled");
				}else{
					$("#newQuestionButton").attr("disabled", true);
				}				
			})

			$("#newQuestionInput").on("keyup", function(){
				$("#newquestionCharacters").text($("#newQuestionInput").val().length)

				if ($(this).val().length < 21){
					$("#newquestionCharacters").css("color", "red")
				}else{
					$("#newquestionCharacters").css("color", "green")
				}
						
				
			})

    // $.get( "https://api.mlab.com/api/1/databases/templo/collections/motivationalquotes?apiKey=zJZdthm4HNnURfvKlosWFVCMyAkSjF88", function(quotes) {
      
  
	  // var initialQuote =  Math.floor((Math.random() * (quotes.length)));
	  // $("#quotes").html(quotes[initialQuote].quote); 
	  // $("#author").html(quotes[initialQuote].author);
	  
		 
	  //  function newQuote(){
		//    i = Math.floor((Math.random() * (quotes.length)));
		//    $("#quotes").fadeOut(2000, function(){
		// 	 $("#quotes").fadeIn(2000)
		// 	 $("#quotes").html(quotes[i].quote);
		//    });
		//    $("#author").fadeOut(2000, function(){
		// 	 $("#author").fadeIn(2000)
		// 	 $("#author").html(quotes[i].author);
		//    });
		   
		//  }
   
		//  setInterval(newQuote, 20000);
	  //  });

		});
  </script>
  
    <!-- HAD TO COPY PASTE HEADER ABOVE SO I CAN ADD SEO -->
	



<div class="container text-center" >
  <div class="jumbotron bg-white ">
    <blockquote class="blockquote text-center">
      <h1 class="mb-0 text-left questionTitle "><%= question.question.charAt(0).toUpperCase() + question.question.slice(1) %></h1>
      <footer class="blockquote-footer text-left">Non medical related questions will be removed</footer>
      <footer class="blockquote-footer text-left">
        DISCLAIMER: Answers are not intended to be professional medical advice. 
        Please consult with your doctor for anything that needs medical attention.
      </footer>

      <br>
    
  
  
      <%if (!currentUser){%>      
      <div class=""  data-toggle="tooltip" title="You need to be signed in" tabindex="0" >  
          <button   class="float-left mr-1" style="pointer-events: none; font-size: 10px;" disabled>
            Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
          </button>        
      </div>
      <div class=""  data-toggle="tooltip" title="You need to be signed in" tabindex="0">     
          <button class="float-left mr-1" style="pointer-events: none; font-size: 10px;" disabled>
            Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
          </button>      
      </div>
      <%}else{%>
     <% var helpfulWasMarked = 0 %>
     <% var unhelpfulWasMarked = 0 %>
     
     <% for (var i = 0; i < question.usersMarkedHelpful.length; i++){ %>
         <% if (currentUser.username == question.usersMarkedHelpful[i]){ %>
          <%  helpfulWasMarked = 1 %>
        <% } %>
     <% } %>

     <% for (var i = 0; i < question.usersMarkedUnhelpful.length; i++){ %>
      <% if (currentUser.username == question.usersMarkedUnhelpful[i]){ %>
      <%  unhelpfulWasMarked = 1 %>
      <% } %>
    <% } %>

     <% if (helpfulWasMarked == 1){ %>
      <form action="/unmarkhelpful/<%= question._id %>" method="POST">
          <button type="submit" class="mr-1 float-left"  style="font-size: 10px;" >
            Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
          </button>
      </form>
     <% }else{ %>
      <%if (unhelpfulWasMarked == 1){%>
        <form action="/helpful/<%= question._id %>" method="POST">
            <button type="submit" class="mr-1 float-left" style="font-size: 10px;" disabled>
              Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
            </button>
        </form>
      <%}else{%>
        <form action="/helpful/<%= question._id %>" method="POST">
            <button type="submit" class="mr-1 float-left" style="font-size: 10px;" >
              Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
            </button>
        </form>
      <%}%>

     <% } %>


     


      <%if (unhelpfulWasMarked == 1){%>
        <form action="/unmarknothelpful/<%= question._id %>" method="POST">
            <button type="submit" class="mr-1 float-left" style="font-size: 10px;" >
              Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
            </button>
         </form>
      <%}else{%>
        <% if (helpfulWasMarked == 1){ %>
          <form action="/nothelpful/<%= question._id %>" method="POST">
              <button type="submit" class="mr-1 float-left" style="font-size: 10px;" disabled>
                Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
              </button>
           </form>
       <% }else{ %>
        <form action="/nothelpful/<%= question._id %>" method="POST">
            <button type="submit" class="mr-1 float-left" style="font-size: 10px;">
              Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
            </button>
         </form>
       <% } %>

      <%}%>

      <%}%>
      
      
      <% if (question.authorId === "Guest"){ %>
        <button  class="mr-1 float-left" style="font-size: 10px;" disabled>
        Posted by: Guest
        </button>   
      <% }else{ %>
        <a href="/profile/<%=question.authorId%>">
        <button class="mr-1 text-dark float-left" style="font-size: 10px;" >
        Posted by: <%= question.authorUsername %>
        </button> 
        </a>      
      <% } %>

      
    <!-- Button trigger modal -->
    <% if (question.answers.length == 0) { %>
      <button  class="mr-1 float-left" style="font-size: 10px;" data-toggle="modal" data-target="#exampleModal">
        Be the first to answer this question
      </button>  
    <% }else{ %>
      <button  class="mr-1 float-left" style="font-size: 10px;" data-toggle="modal" data-target="#exampleModal">
        Answer
      </button>  
    <% } %>
 
      
   
    <!-- Answer form -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= question.question %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/question/<%= question._id %>/answer" method="POST">
          <div class="modal-body">
            <textarea id="newAnswerInput" class="form-control" name="answer" rows="10"></textarea>
            <footer id="newAnswerCharacters" class="blockquote-footer text-right">0</footer>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="answerButton" type="submit" class="btn btn-primary" disabled>Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
      <!-- Delete Button -->
      <%if (currentUser && currentUser._id == question.authorId || currentUser && currentUser.isAdmin){ %>
        <form action="/deletequestion/<%=question._id%>?_method=DELETE" method="POST">
          <button type="submit" class="mr-1 float-left" style="font-size: 10px;;">
          Delete
          </button> 
        </form>
      <%}%>



      <!-- Follow Question Button -->  
      <% var isFollowing = false %>
      <% question.userEmailsArray.forEach(function(email){ %>
        <%if (currentUser && currentUser.email == email){ %>
          <% isFollowing = true %>
        <% } %>
      <% });%>


      <% if ( currentUser && isFollowing){ %>
        <form action="/unfollowquestion/<%=question._id%>" method="POST">
          <button class="mr-1 float-left" style="font-size: 10px;">Unfollow Question <%=question.userEmailsArray.length%></button>
        </form>
      <% } %>


      <% if ( currentUser && !isFollowing){ %>
        <form action="/followquestion/<%=question._id%>" method="POST">
          <button class="mr-1 float-left" style="font-size: 10px;">Follow Question <%=question.userEmailsArray.length%></button>
        </form>
      <% } %>
      


      <%if (!currentUser){ %>
        <div class="float-left"  data-toggle="tooltip" title="You need to be signed in">  
            <button class="mr-1 float-left" style="pointer-events: none; font-size: 10px;" disabled>
              Follow Question <%=question.userEmailsArray.length%>
            </button>        
        </div>
      <% } %>


    </blockquote>
      

      
      




</div>



<!--Array of answers-->

<div class="container">

          <!--Message Display-->
          <%if (message && message.length > 0){%>
            <div class="alert alert-info">
              <%=message%>
            </div>
          <%}%> 

    <% if (question.answers.length == 0){ %>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">This question has not been answered yet</p>
          </div>
        </div>
    <% } %>




    <div class="row">
      <div class="col-md-12 text-left">
          <% question.answers.forEach(function(answer){ %>       
              <p><%-answer.answer.replace(/\n/g, "<br>")%></p>
              <hr>
              <% if (typeof currentUser !== "undefined" && currentUser._id == answer.authorId || currentUser && currentUser.isAdmin){ %>  
                <form action="/deleteanswer/<%=answer._id%>/question/<%=answer.questionId%>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-sm btn-outline-danger float-right">Delete</button>
                </form>
              <% } %>
          <% }); %>
      </div>
     
      
      
      <!-- <div class="col-md-3">
        Ads will possibly be displayed here
      </div> -->
      
    </div>

</div>
</div>


<style>

  @media only screen and (max-width: 760px) {
    .questionTitle{
      font-size: 30px;
    }
    .blockquote-footer{
      font-size: 10px;
    }
  }

  textarea {
  resize: none;
  white-space: pre-wrap;
}

</style>

 




<script>
$( document ).ready(function() {
  
    $('[data-toggle="tooltip"]').tooltip();

			$("#newAnswerInput").on("keyup", function(){
				if ($("#newAnswerInput").val().length > 10){
					$("#answerButton").removeAttr("disabled");
				}else{
					$("#answerButton").attr("disabled", true);
				}				
      })
      
			$("#newAnswerInput").on("keyup", function(){
        $("#newAnswerCharacters").text($(this).val().length)
        if ($(this).val().length < 11){
          $("#newAnswerCharacters").css("color", "red");
        }else{
          $("#newAnswerCharacters").css("color", "green")
        }	
      });

});
</script>


<% include footer.ejs %>