<% include header.ejs %>



<div class="container text-center" style="margin-top: 80px;">
  <div class="jumbotron">
    <blockquote class="blockquote text-center">
      <h1 class="mb-0 text-left questionTitle"><%= question.question.charAt(0).toUpperCase() + question.question.slice(1) %></h1>
      <footer class="blockquote-footer text-left">Non medical related questions will be removed</footer>
      <br>
      <footer class="blockquote-footer text-left">
        DISCLAIMER: Answers are not intended to be professional medical advice. 
        Please consult with your doctor for anything that needs medical attention.
      </footer>
    </blockquote>
  
    <div class="row">
      <%if (!currentUser){%>      
      <div class="float-left"  data-toggle="tooltip" title="You need to be signed in">  
          <button type="submit" class="btn btn-dark btn-sm" style="pointer-events: none;" disabled>
            Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
          </button>        
      </div>
      <div class="float-left"  data-toggle="tooltip" title="You need to be signed in">     
          <button type="submit" class="btn btn-dark btn-sm" style="pointer-events: none;" disabled>
            Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
          </button>      
      </div>
      <%}else{%>
     <% var helpfulWasMarked = 0 %>
     <% var unhelpfulWasMarked = 0 %>
     
     <% for (var i = 0; i < question.usersMarkedHelpful.length; i++){ %>
         <% if (currentUser.username == question.usersMarkedHelpful[i]){ %>
          <%  helpfulWasMarked = 1 %>
        <% } %>
     <% } %>

     <% for (var i = 0; i < question.usersMarkedUnhelpful.length; i++){ %>
      <% if (currentUser.username == question.usersMarkedUnhelpful[i]){ %>
      <%  unhelpfulWasMarked = 1 %>
      <% } %>
    <% } %>

     <% if (helpfulWasMarked == 1){ %>
      <form action="/unmarkhelpful/<%= question._id %>" method="POST">
        <div>
          <button type="submit" class="btn btn-dark btn-sm float-left text-primary" type="button">
            Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
          </button>
        </div>
      </form>
     <% }else{ %>
      <%if (unhelpfulWasMarked == 1){%>
        <form action="/helpful/<%= question._id %>" method="POST">
          <div>
            <button type="submit" class="btn btn-dark btn-sm float-left" type="button" disabled>
              Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
            </button>
          </div>
        </form>
      <%}else{%>
        <form action="/helpful/<%= question._id %>" method="POST">
          <div>
            <button type="submit" class="btn btn-dark btn-sm float-left" type="button">
              Helpful &nbsp;<i class="far fa-thumbs-up"></i>&nbsp;<%= question.helpful %>
            </button>
          </div>
        </form>
      <%}%>

     <% } %>


     


      <%if (unhelpfulWasMarked == 1){%>
        <form action="/unmarknothelpful/<%= question._id %>" method="POST">
          <div>
            <button type="submit" class="btn btn-dark btn-sm float-left text-primary" type="button">
              Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
            </button>
          </div>
         </form>
      <%}else{%>
        <% if (helpfulWasMarked == 1){ %>
          <form action="/nothelpful/<%= question._id %>" method="POST">
            <div>
              <button type="submit" class="btn btn-dark btn-sm float-left" type="button" disabled>
                Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
              </button>
            </div>
           </form>
       <% }else{ %>
        <form action="/nothelpful/<%= question._id %>" method="POST">
          <div>
            <button type="submit" class="btn btn-dark btn-sm float-left" type="button">
              Not Helpful &nbsp;<i class="far fa-thumbs-down"></i>&nbsp;<%= question.notHelpful %>
            </button>
          </div>
         </form>
       <% } %>

      <%}%>

      <%}%>
      
      
      <% if (question.authorId === "Guest"){ %>
        <button type="button" class="btn btn-dark btn-sm float-right" disabled>
        Posted by: Guest
        </button>   
      <% }else{ %>
        <a href="/profile/<%=question.authorId%>"><button type="button" class="btn btn-dark btn-sm float-right">
        Posted by: <%= question.authorUsername %>
          </button></a>       
      <% } %>

      
    <!-- Button trigger modal -->
    <% if (question.answers.length == 0) { %>
      <button type="button" class="btn btn-dark btn-sm float-right" data-toggle="modal" data-target="#exampleModal">
        Be the first to answer this question
      </button>  
    <% }else{ %>
      <button type="button" class="btn btn-dark btn-sm float-right" data-toggle="modal" data-target="#exampleModal">
        Answer
      </button>  
    <% } %>
 
      
   
    <!-- Answer form -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= question.question %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/question/<%= question._id %>/answer" method="POST">
          <div class="modal-body">
            <textarea id="newAnswerInput" class="form-control" name="answer" rows="10"></textarea>
            <footer id="newAnswerCharacters" class="blockquote-footer text-right">0</footer>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="answerButton" type="submit" class="btn btn-primary" disabled>Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
      <!-- Delete Button -->
      <%if (currentUser && currentUser._id == question.authorId || currentUser && currentUser.isAdmin){ %>
        <form action="/deletequestion/<%=question._id%>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-dark btn-sm float-right">
          Delete
          </button>   
        </form>
      <%}%>



      <!-- Follow Question Button -->  
      <% var isFollowing = false %>
      <% question.userEmailsArray.forEach(function(email){ %>
        <%if (currentUser && currentUser.email == email){ %>
          <% isFollowing = true %>
        <% } %>
      <% });%>


      <% if ( currentUser && isFollowing){ %>
        <form action="/unfollowquestion/<%=question._id%>" method="POST">
          <button class="btn btn-sm btn-dark">Unfollow Question <%=question.userEmailsArray.length%></button>
        </form>
      <% } %>


      <% if ( currentUser && !isFollowing){ %>
        <form action="/followquestion/<%=question._id%>" method="POST">
          <button class="btn btn-sm btn-dark">Follow Question <%=question.userEmailsArray.length%></button>
        </form>
      <% } %>
      


      <%if (!currentUser){ %>
        <div class="float-left"  data-toggle="tooltip" title="You need to be signed in">  
            <button class="btn btn-dark btn-sm" style="pointer-events: none;" disabled>
              Follow Question <%=question.userEmailsArray.length%>
            </button>        
        </div>
      <% } %>



      

      
      
   </div>
   </div>
   </div>
   </div>
</div>



<!--Array of answers-->

<div class="container" style="margin-top: 5%;">
    <% include betaMessage.ejs %>

          <!--Message Display-->
          <%if (message && message.length > 0){%>
            <div class="alert alert-info">
              <%=message%>
            </div>
          <%}%> 

    <% if (question.answers.length == 0){ %>
      <div class="row">
          <div class="col-md-12">
            <div class="list-group-item">
              <p class="text-center">This question has not been answered yet</p>
            </div>
          </div>
        </div>
    <% } %>




    <div class="row">
      <div class="col-md-12">
        <ul class="list-group text-left">
          <% question.answers.forEach(function(answer){ %>
            <li class="list-group-item">          
              <p><%-answer.answer.replace(/\n/g, "<br>")%></p>
              <% if (typeof currentUser !== "undefined" && currentUser._id == answer.authorId || currentUser && currentUser.isAdmin){ %>  
                <form action="/deleteanswer/<%=answer._id%>/question/<%=answer.questionId%>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-sm btn-outline-danger float-right">Delete</button>
                </form>
              <% } %>
            </li>
          <% }); %>
        </ul>
      </div>
     
      
      
      <!-- <div class="col-md-3">
        Ads will possibly be displayed here
      </div> -->
      
    </div>

</div>


<style>

  @media only screen and (max-width: 760px) {
    .questionTitle{
      font-size: 30px;
    }
    .blockquote-footer{
      font-size: 10px;
    }
  }

  textarea {
  resize: none;
  white-space: pre-wrap;
}

</style>

 




<script>
$( document ).ready(function() {
  
    $('[data-toggle="tooltip"]').tooltip();

			$("#newAnswerInput").on("keyup", function(){
				if ($("#newAnswerInput").val().length > 10){
					$("#answerButton").removeAttr("disabled");
				}else{
					$("#answerButton").attr("disabled", true);
				}				
      })
      
			$("#newAnswerInput").on("keyup", function(){
        $("#newAnswerCharacters").text($(this).val().length)
        if ($(this).val().length < 11){
          $("#newAnswerCharacters").css("color", "red");
        }else{
          $("#newAnswerCharacters").css("color", "green")
        }	
      });

});
</script>


<% include footer.ejs %>