<% include header.ejs %>
<div class="container" style="margin-top: 15%">
  <div class="row">
    <div class="col-lg-12">
      <%if (message && message.length > 0){%>
        <div class="alert alert-info">
          <%=message%>
        </div>
      <%}%>
    </div>
  </div>
  <div class="row border">
    <div class="col-lg-4">
      <h1><%= user.username %></h1>
      <p>Number of questions asked:<span class="badge badge-secondary"><%= user.questions.length %></span></p>
      <p>Number of answers: <span class="badge badge-secondary"><%= user.answers.length %></span></p>
    </div>
    <div class="col-lg-4">
        <%if (currentUser && currentUser.username == user.username){ %>
          <button id="changeEmail" class="btn btn-sm btn-primary">Change email address</button>
          <form id="changeEmailInput" action="/changeemail/<%=user._id%>" method="POST">
              <div class="input-group input-group-sm mb-3">
                <input type="email" name="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="<%=user.email%>">
                <div class="input-group-prepend">
                    <button  type="submit" class="btn btn-outline-secondary" type="button">Submit</button>
                    <button  id="changeEmailCancel" class="btn btn-outline-secondary" type="button">Cancel</button>
                </div>
              </div>
          </form>
        <% } %>
    </div>



  </div>
	<br>
 <div class="row">
	 <div class="col-lg-2">
	  	<h6>Feed</h6>
	  	<hr>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-questions-tab" data-toggle="pill" href="#v-pills-questions" role="tab" aria-controls="v-pills-questions" aria-selected="true">Questions</a>
          <a class="nav-link" id="v-pills-answers-tab" data-toggle="pill" href="#v-pills-answers" role="tab" aria-controls="v-pills-answers" aria-selected="false">Answers</a>
        </div>
	</div>
  <div class="col-lg-10" id="activityContainer">
    	<h6 id="activity">List</h6>
      <hr>
      

      <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-questions" role="tabpanel" aria-labelledby="v-pills-questions-tab">
              <ul class="list-group">
                  <% for (i = 0; i < user.questions.length ; i++){ %>
                      <a href="/question/<%=user.questions[i]._id%>" class="list-group-item list-group-item-action"><%=user.questions[i].question %></a>
                  <% } %>
                </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-answers" role="tabpanel" aria-labelledby="v-pills-answers-tab">
              <ul class="list-group">
                  <% for (i = 0; i < user.answers.length ; i++){ %>
                    <li class="list-group-item">
                      <a href="/question/<%= user.answers[i].questionId%>" class="text-dark">
                        <h2><%= user.answers[i].questionText %></h2>
                      </a>
                      <p>
                        <strong><%= user.username %>'s answer:&nbsp</strong><%= user.answers[i].answer %> 
                      <p>
                    </li>
                  <% } %>
                </ul>
          </div>
        </div>
    
    
  </div>
  </div>
</div>


<script>
$(document).ready(function() {

  $("#changeEmailInput").hide();

    $("#changeEmail").on("click", function(){
      $("#changeEmail").hide();
      $("#changeEmailInput").show();
    });

    $("#changeEmailCancel").on("click", function(){
      $("#changeEmailInput").hide();
      $("#changeEmail").show();
    });
  
});
</script>









<% include footer.ejs %>